:root{
  --app-footer-logo-size: 83px;
  --app-sponsors-logo-size: 70px;
  --app-nav-social-size: 45px;
}

/* footer
-------------------------------------------------------------*/
footer#footer{

}
.footer-logo{
  svg{
    max-width: var(--app-footer-logo-size);
    height: auto;
  }
}

.nav-social{
  li+li{
    margin-left: 0.625rem;
  }
  a{
    width: var(--app-nav-social-size);
    height: var(--app-nav-social-size);
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover{
      background-color: var(--app-secondary-color);
      color: var(--app-primary-color);
      border-color:var(--app-secondary-color);
    }
  }
}

/* sponsors
-------------------------------------------------------------*/
.sponsors-offset-logo{
  svg{
    max-width: var(--app-sponsors-logo-size);
    height: auto;
  }
}