:root{
  --app-header-size: 7.5rem;
  --app-header-icon-search-size: 24px;
  --app-header-icon-burger-size-x: 44px;
  --app-header-icon-burger-size-y: 31px;
  --app-header-nav-devider-x: 2.5rem;
}

/* header
-------------------------------------------------------------*/
header#header{
  height: var(--app-header-size);
  background-color: var(--app-primary-color);
  z-index: 100;
  &.nav--open{
    .searchbar{
      transform: translateY(0);
      visibility: visible;
    }
  }

  .navbar-brand{
    svg{
      margin-top: 1.25rem;
    }
  }
}

/* main navigation
-------------------------------------------------------------*/
.nav-main{
  a{
    font-size: 1.125em;
    font-weight: 600;
    text-decoration: none;
  }
  li,li>a{
    display: flex;
    align-items: center;
    height: 100%;
  }
  li{
    position: relative;
    &.menu-item-devider-left{
      padding-left: var(--app-header-nav-devider-x);
      margin-left: var(--app-header-nav-devider-x);
      border-left: 1px solid transparentize($color: #fff, $amount: 0.8);
    }
  }
  span.icon-nav{
    background-position: center center;
    background-repeat: no-repeat;
    &.icon-svg-search,
    &.icon-svg-user{
      width: var(--app-header-icon-search-size);
      height: var(--app-header-icon-search-size);
      background-size: var(--app-header-icon-search-size);
    }
    &.icon-svg-search{
      background-image: get-icon('search', #fff);
    }
    &.icon-svg-user{
      background-image: get-icon('user', #fff);
    }
    &.icon-svg-burger{
      background-image: get-icon('burger', #fff);
      width: var(--app-header-icon-burger-size-x);
      height: var(--app-header-icon-burger-size-y);
      background-size: var(--app-header-icon-burger-size-x) var(--app-header-icon-burger-size-y);
    }
  }

  //sub level
  >li{
    &.current_page_item,
    &.current-menu-item,
    &.current_page_ancestor{
      >a{
        color: var(--app-secondary-color);
      }
    }
    &.menu-item-has-children >a{
      &:after{
        background-image: get-icon('angle-down', #fff);
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 0.75rem;
        height: 0.75rem;
        content: '';
        margin-left: 0.4rem;
        opacity: 0.5;
      }
    }
    &+li{
      margin-left: 1.875rem;
    }
    &:hover{
      >a:after{
        opacity: 1;
      }
      >ul{
        transform: translate(-50%);
        opacity: 1;
        pointer-events: auto;
      }
    }
    >a{
      color: #fff;
    }
    >ul{
      position: absolute;
      left: 50%;
      transform: translate(-50%,1rem);
      opacity: 0;
      padding: 0.8rem 1.8rem;
      z-index: 10;
      pointer-events: none;
      min-width: 140%;
      margin-top: -1.8rem;
      transition: opacity .25s cubic-bezier(0,.5,.6,1),transform .25s cubic-bezier(0,.5,.6,1);
      display: block;
      background: #fff;
      box-shadow: 0 0.4rem 1.4rem 0 rgb(0,0,0,0.2);
      border-radius: 2px;
      max-height: 75vh;
      overflow-y: auto;
      top: calc(100% + 0.6rem);
      flex-direction: column;
      li:not(:last-child){
        border-bottom: 1px solid var(--app-border-color);
      }
      a{
        color: var(--app-primary-color);
        display: block;
        padding: 0.35rem 0;
        white-space: nowrap;
      }
    }
  }
}

/* searchbar
-------------------------------------------------------------*/
.searchbar{
  left: 26rem;
  transition: .2s;
  overflow: hidden;
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  visibility: hidden;
  input[type="text"]{
    padding: 0 10rem;
    &:focus-visible{
      border: 0;
      outline: none;
    }
  }

  .searchbar-button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 8rem;
    &:hover{
      i{
        color: var(--app-highlight-color) !important;
      }
    }
    i{
      transition: .2s;
    }
  }
  input[type="submit"]{
    transition: .2s;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }
}

#js-close-searchbar{
  width: 7.5rem;
}

/* mobile nav
-------------------------------------------------------------*/
div#mobile_nav{}